body {
  margin: 0;
  padding: 0;
  background-color: #000000
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}


.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #FFFFFF;
  color: #000000;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #DF2D2D;
  color: #000;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}